extends layout
block content
    h1 #{title}
    form(action="/article/editArticle/"+thisarticle._id, method="post")
        .form-group
            label(for="name") name
            input.form-control(name='name', type="text" placeholder=thisarticle.name)
        .form-group
            label(for="author") author
            input.form-control(name='author', type="text" placeholder=thisarticle.author)
        .form-group
            label(for="description") description
            textarea.form-control(name="description", cols="30", rows="10" )=thisarticle.body    
        input.btn.btn-primary(type='submit',value='submit')



        

    