extends layout
block content
    h1 #{title}
    ul.list-group 
        each article, i in thisarticles
            li.list-group-item
                a(href='/article/'+article._id)=article.name 
            
                


