extends layout
block content
    h1 #{title}
    form(action="/users/login", method="post")
        .form-group
            label(for="username") username
            input.form-control(name='username', type="text")
        .form-group
            label(for="password") password
            input.form-control(name='password', type="password")     
        input.btn.btn-primary(type='submit',value='submit')